body {
  font-family: var(--basic-font);
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--stone-100);
}

@media screen and (min-width: 768px) {
  body {
    padding: 128px 48px;
  }
}