@media screen and (min-width: 768px) {
  /* Containers */

  .main {
    width: 100%;
    padding: 40px;
    border-radius: 24px;
    gap: 40px;
    max-width: 736px;
  }

  .content-main {
    padding: 0;
    gap: 32px;
  }

  /* Images */

  .image-mobile {
    display: none;
  }

  .image-tablet {
    display: block;
    border-radius: 16px;
    height: 300px;
  }

  /* Text */ 

  .recipe-name {
    font-size: 40px;
  }
}